.form {
  display: flex;
  flex-direction: column;
  width: 485px;

  color: var(--color-white);
}

.form-label {
  margin: 0 0 10px;

  font-size: 18px;
}

.form-control {
  position: relative;

  margin: 0;
  padding: 0;

  border: 0;
}

.form-input {
  box-sizing: border-box;
  width: calc(100% - 62px);
  height: 50px;
  padding: 15px;

  border: 0;
}

.form-submit {
  position: absolute;
  top: 0;
  right: 0;

  width: 62px;
  height: 50px;

  background-color: var(--color-main);
  border: 0;
  cursor: pointer;
}

.form-submit::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;

  background-image: url('../images/send.svg');

  content: "";
}

.form-privacy {
  font-size: 12px;
}
