.section {
  position: relative;
}

.section-is-centered {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.section-has-video {
  z-index: 10;
}

.section-has-video h2 {
  margin: 0 0 30px;
}

.section::before,
.section::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.section::before {
  z-index: -1;

  background-image: url("../images/background.png");
  opacity: 0.1;
}

.section::after {
  z-index: -2;

  background-color: var(--color-light);
}

.section-has-distortion:nth-child(even)::after {
  background-color: var(--color-brown);
}

.section-has-video + .section::after {
  background-color: var(--color-main-dark);
}

.section-has-video + .section::before {
  content: "";
}

.section-has-no-bg::before,
.section-has-no-bg::after {
  background: none;
}

.section-content {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.section h2 + p {
  margin: 0 0 30px;
}

.cards h2 {
  font-size: 52px;
}

.cards h2 span {
  color: var(--color-white);
}

.section-has-distortion:nth-child(odd) .distortion h2 {
  color: var(--color-dark);
}

.section-has-distortion:nth-child(even) .distortion h2 {
  color: var(--color-white);
}

.section h2 + h3 {
  margin: 0;

  color: var(--color-dark);
}

.section-has-distortion:nth-child(even) h3 {
  color: var(--color-white);
}
