.section {
  position: relative;

  padding: 100px 0;
}

.section-is-centered {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.section-has-video {
  z-index: 10;
}

.section::before,
.section::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.section::before {
  z-index: -1;

  background-image: url("../images/background.png");
  opacity: 0.1;
}

.section::after {
  z-index: -2;

  background-color: var(--color-light);
}

.section-has-distortion:nth-child(even)::after {
  background-color: var(--color-brown);
}

.section-has-video + .section::after {
  background-color: var(--color-main-dark);
}

.section-has-video + .section::before {
  content: "";
}

.section-has-no-bg::before,
.section-has-no-bg::after {
  background: none;
}

.section-content {
  max-width: 1100px;
  margin: 0 auto;
}

.section-title {
  position: relative;

  margin: 0 0 30px;

  font-size: 60px;
  font-family: var(--font-title);
  line-height: 1.2em;
}

.cards .section-title {
  color: var(--color-white);
  font-size: 52px;
}

.section-has-distortion:nth-child(even) .section-title {
  color: var(--color-white);
}

.section-text {
  color: var(--color-dark);
  font-size: 34px;
  font-family: var(--font-title);
}

.section-has-distortion:nth-child(even) .section-text {
  color: var(--color-white);
}
