.section {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: var(--section-width);
  margin: 0 auto;
  padding: 100px 0;

  column-gap: 30px;
}

.section-is-centered {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.section h2 + p {
  margin: 0 0 30px;
}

.cards h2 {
  width: calc(33% - 20px);

  margin: 0;

  font-size: 52px;
}

.cards h2 span {
  color: var(--color-white);
}

.section-title {
  margin: 0 0 30px;
}

.background-color-light .section-title {
  color: var(--color-dark);
}

.background-color-brown .section-title {
  color: var(--color-white);
}

.background-color-light .section-title + h3 {
  color: var(--color-dark);
}

.background-color-brown .section-title + h3 {
  color: var(--color-white);
}
