@import "card.css";
@import "form.css";
@import "section.css";

:root {
  --color-white: #fff;
  --color-translucent-white: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-translucent-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
  --font-main: 'Open Sans', sans-serif;
  --font-title: 'Neucha', cursive;
}

body {
  margin: 0;
  overflow-x: hidden;

  color: var(--color-dark);

  font-size: 16px;

  font-family: var(--font-main);
  line-height: 1.6em;
}

h1,
h2,
h3 {
  color: var(--color-main);
  font-weight: 400;
  font-family: var(--font-title);
  line-height: 1.2em;
}

h1 span,
h2 span,
h3 span {
  color: var(--color-dark);
}

h1 {
  position: relative;

  margin: 0 0 201px;

  font-size: 72px;
}

h2 {
  position: relative;

  margin: 0;

  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  color: inherit;

  transition: 0.2s;
}

header img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.button {
  display: inline-block;
  margin-top: 40px;
  margin-left: calc(50% + 15px);
  padding: 12px 24px;

  color: var(--color-white);
  font-weight: bold;

  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--color-main);
}

.button:hover {
  background-color: #ea7600;
}

.columns {
  margin-top: 100px;
  break-inside: avoid;

  columns: 2;
  column-gap: 30px;
}

.section-has-distortion:nth-child(even) .columns {
  color: var(--color-white);
}

.columns p {
  margin-top: 0;
  break-inside: avoid;
}

.columns p:first-of-type {
  break-after: column;
}

.columns p:last-of-type {
  margin-bottom: 0;
}

.columns-title {
  margin: 0 0 20px;
  padding: 5px 10px;

  color: var(--color-white);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  column-span: all;

  background-color: var(--color-brown);
}

.section-has-distortion:nth-child(even) .columns-title {
  color: var(--color-brown);

  background-color: var(--color-white);
}

.video {
  margin-bottom: -200px;

  border: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.distortion {
  display: flex;
  gap: 30px;
}

.distortion h2 {
  margin: 0 0 30px;
}

.distortion img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-has-distortion:nth-child(even) .distortion {
  flex-direction: row-reverse;
}

.distortion-body::before {
  display: block;

  color: var(--color-translucent-dark);
  font-weight: 400;
  font-size: 24px;
  font-family: var(--font-title);
  line-height: 1.2;

  content: "Когнитивные искажения";
}

.section-has-distortion:nth-child(even) .distortion-body::before {
  color: var(--color-translucent-white);
}

.footer {
  padding: 100px 0;
}

.subscriber {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1110px;
  margin: 0 auto;
  padding: 40px 55px;

  background-color: var(--color-main-dark);
}

.subscriber h3 {
  margin: 0;

  color: var(--color-white);
}

.contacts {
  margin: 74px 0 0;

  font-size: 14px;
  text-align: center;
}

.contacts a {
  color: var(--color-blue);
}
