@import "card.css";
@import "section.css";

:root {
  --color-white: #fff;
  --color-translucent-white: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-translucent-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
  --font-main: 'Open Sans', sans-serif;
  --font-title: 'Neucha', cursive;
}

body {
  margin: 0;
  overflow-x: hidden;

  color: var(--color-dark);

  font-size: 16px;

  font-family: var(--font-main);
  line-height: 1.6em;
}

.page-title {
  margin: 0 0 185px;

  font-size: 72px;
  font-family: var(--font-title);
  line-height: 1.2em;
}

.page-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.button {
  display: inline-block;
  margin-top: 25px;
  margin-left: calc(50% + 15px);
  padding: 12px 24px;

  color: var(--color-white);
  font-weight: bold;

  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--color-main);
}

.columns {
  margin-top: 100px;

  columns: 2;
  column-gap: 30px;
}

.section-has-distortion:nth-child(even) .columns {
  color: var(--color-white);
}

.columns p {
  margin-top: 0;
}

.columns-title {
  box-sizing: border-box;
  margin: 0 0 20px;
  padding: 5px 10px;

  color: var(--color-white);

  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  column-span: all;

  background-color: var(--color-brown);
}

.section-has-distortion:nth-child(even) .columns-title {
  color: var(--color-brown);

  background-color: var(--color-white);
}

.highlight {
  color: var(--color-main);
}

.video {
  margin-bottom: -200px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.distortion {
  display: flex;
  gap: 30px;
}

.section-has-distortion:nth-child(even) .distortion {
  flex-direction: row-reverse;
}

.distortion-body::before {
  display: block;

  color: var(--color-translucent-dark);
  font-weight: 400;
  font-size: 24px;
  font-family: var(--font-title);
  line-height: 1.2;

  content: "Когнитивные искажения";
}

.section-has-distortion:nth-child(even) .distortion-body::before {
  color: var(--color-translucent-white);
}
