@import "card.css";
@import "section.css";

:root {
  --color-white: #fff;
  --color-translucent-white: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-translucent-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
  --font-main: 'Open Sans', sans-serif;
  --font-title: 'Neucha', cursive;
}

body {
  margin: 0;
  overflow-x: hidden;

  color: var(--color-dark);

  font-size: 16px;

  font-family: var(--font-main);
  line-height: 1.6em;
}

.page-title {
  position: relative;
  z-index: 1;

  margin: 0 0 180px;

  font-weight: 400;
  font-size: 72px;
  font-family: var(--font-title);
  line-height: 1.2em;
}

.page-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.button {
  display: inline-block;
  margin-top: 40px;
  margin-left: calc(50% + 15px);
  padding: 12px 24px;

  color: var(--color-white);
  font-weight: bold;

  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--color-main);
}

.columns {
  margin-top: 100px;
  break-inside: avoid;

  columns: 2;
  column-gap: 30px;
}

.section-has-distortion:nth-child(even) .columns {
  color: var(--color-white);
}

.columns p {
  display: flex;
  margin-top: 0;
  break-inside: avoid;
}

.columns p:last-child {
  margin-bottom: 0;
}

.columns-title {
  box-sizing: border-box;
  margin: 0 0 20px;
  padding: 5px 10px;

  color: var(--color-white);

  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  column-span: all;

  background-color: var(--color-brown);
}

.section-has-distortion:nth-child(even) .columns-title {
  color: var(--color-brown);

  background-color: var(--color-white);
}

.highlight {
  color: var(--color-main);
}

.video {
  margin-bottom: -200px;

  border: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.distortion {
  display: flex;
  gap: 30px;
}

.distortion img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-has-distortion:nth-child(even) .distortion {
  flex-direction: row-reverse;
}

.distortion-body::before {
  display: block;

  color: var(--color-translucent-dark);
  font-weight: 400;
  font-size: 24px;
  font-family: var(--font-title);
  line-height: 1.2;

  content: "Когнитивные искажения";
}

.section-has-distortion:nth-child(even) .distortion-body::before {
  color: var(--color-translucent-white);
}

.footer {
  padding: 100px 0;
}

.subscriber {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1110px;
  margin: 0 auto;
  padding: 40px 55px;

  background-color: var(--color-main-dark);
}

.form {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.form-label {
  margin: 0 0 10px;

  color: var(--color-white);
  font-size: 18px;
}

.form-control {
  position: relative;

  margin: 0;
  padding: 0;

  border: 0;
}

.form-input {
  box-sizing: border-box;
  width: calc(100% - 62px);
  height: 50px;
  padding: 15px;

  border: 0;
}

.form-submit {
  position: absolute;
  top: 0;
  right: 0;

  width: 62px;
  height: 50px;

  background-color: var(--color-main);
  border: 0;
  cursor: pointer;
}

.form-submit::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;

  background-image: url('../images/send.svg');

  content: "";
}

.form-privacy {
  color: var(--color-white);
  font-size: 12px;
}

.form-link {
  color: var(--color-white);
}

.contacts {
  margin: 60px 0 0;

  font-size: 14px;
  text-align: center;
}

.contacts a {
  color: var(--color-blue);
}
